<form action="/budget/<%= @current_month %>/new_category" method='post'>
  <div>
    <label class="add-category" for="category_name">Category name:</label>
    <input class="add-category" name ="category_name" placeholder="Category Name" type="text" value="">
    <br>
    <label class="add-category" for="category_amount">Budget: $</label>
    <input class="add-category" name ="category_amount" placeholder="Amount" type="text" value=""> 
  </div>
  <div>
    <input class="save" type="submit" value="Add to <%= @current_month %>">
  </div>
  <div>
    <input class="save" type="submit" value="Add to all months" formaction="/budget/<%= @current_month %>/new_category/all_months">
  </div>
</form>
<form action="/" method='get'>
  <button class="cancel">Cancel</button>
</form>